.DS_STORE
draft.*
*.pyc
env/
collectstatic/files/*
*/__pycache__/*.cpython-39.pyc
*/__pycache__/*.cpython-310.pyc
*/migrations/__pycache__/*.cpython-39.pyc
*/migrations/__pycache__/*.cpython-310.pyc
*/*/__pycache__/*.cpython-39.pyc
*/*/__pycache__/*.cpython-310.pyc
